body{
    max-width: 1440px;
    min-width: 300px;
    height: 100vh;
    margin: 0 auto;
    font-size: 13px;
    font-family: 'Kumbh Sans', sans-serif;
    font-weight: 500;
    background-color: hsl(212, 23%, 69%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}
main{
    width: 45vw;
    min-height: 60vh;
    /* height: 280px; */
    border-radius: 20px;
    background-color: hsl(210, 46%, 95%);
    display: flex;
    justify-content: space-between;
}
.picture{
    height: 100%;
    width: 600px;
    border-radius: 20px 0px 0 20px;
    background-image: url("images/drawers.jpg");
    background-size: cover;
}
/* Article style */
article{
    
    padding: 25px;
}
h2, h4{
    font-weight: 700;
    color: hsl(217, 19%, 35%);
}
/* Section part */
section{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.left{
    display: flex;
}
/* Right part style */
.right{
    display: flex;
    justify-content: center;
    align-items: center;  
}
.avatar{
    width: 80px;
    height: 80px;
}
.author{
    flex-grow: 0.9;
}
.fade_out{
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s linear 300ms, opacity 300ms;
}
.fade_in{
    visibility: visible;
    opacity: 1;
    transition: visibility 0s linear 0s, opacity 300ms;
    z-index: 0;
}
ul{
    list-style-type: none;
    display: flex;
}
.share-icon{
    border-radius: 50%;
    background-color: #fff;
    padding: 15px;
    cursor: pointer;
}
.share-icon:hover{
    background-color: hsl(212, 23%, 69%);
}
.share-icon:active{
    transform: translateY(2px);
}


/* hide part */
.hide{
    position: absolute;
    background-color: hsl(217, 19%,35%);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 20px;
    height: 10px;
    /* opacity: 0; */
    border-radius: 13px;
    margin-top: -140px;
    margin-left: -40px;
}
.hide:after{
    content:'';
    position: absolute;
    bottom: 0;
    left: 55%;
    width: 0;
    height: 0;
    border: 15px solid transparent;
    border-top-color: hsl(217, 19%, 35%);
    border-bottom: 0;
    margin-bottom: -10px;
    margin-left: -15px;
}
.hide p{
    text-transform: uppercase;
    color: hsl(210, 46%, 95%);
    margin-right: 0px;
    opacity: .9;
    font-size: 16px;
    letter-spacing: 5px;
}
.hide ul li{
    padding: 0 10px;
}

/* Responsive design */
@media (max-width: 375px) {
    main{
        width: 80vw;
        overflow-x: auto;
        flex-direction: column;
    }
    .picture{
        width: 100%;
        height: 300px;
        border-radius: 0;
    }
    article{
        padding: 10px 10px 15px 10px;
    }
    h2{
        margin-top: 0;
    }
    .hide{
        margin-top: 0;
        margin-left: 0;
        z-index: -1;
    }
    .hide:after{
        margin-bottom: 0;
        margin-left: 0;
    }
    .icons{
        
        top: 0;
        left: 0;
        width: 100%;
    }
    
}